.btn-acciones {
    background-color: #2B518B; /* Blue background */
    border: none; /* Remove borders */
    border-radius: 8px;
    color: white; /* White text */
    font-weight: bold !important;
    padding: 8px 13px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  .btn-acciones:hover{
      background-color: #2B518B;
  }